@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background: black;
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.main-div{
    background: #F5F8FF;
    width: 90rem;
}

/* this is button */
.button {
    background: #4E47FF;
    font-size: x-large;
    color: white;
    padding: 0.6rem 1.9rem;
    border: none;
    border-radius: 0.4rem;
    transition-duration: 1s;
    cursor: pointer;
}

.button:hover {
    background: rgb(191, 227, 242);
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.492);
}

/* header section start */
header {
    width: 100%;
    height: 40rem;
    background: url(./Assets/Hero-bg.png);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
}

header nav a{
    text-decoration: none;
}

header nav h1 {
    font-size: 3rem;
    color: #4E47FF;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > div h1 {
    font-size: 4.5rem;
    text-align: center;
    margin: 7rem 0rem 4rem 0rem;
}

/* header section end */
/* main section start */
main{
    width: 100%;
    padding: 7rem 10rem 7rem 10rem;
}

/* Action section start */
.Action-section{
    display: flex;
    justify-content: space-between;
    padding: 0rem 0rem 7rem 0rem;
}

.Action-section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Action-section div h1{
    font-size: xx-large;
    margin-bottom: 1.8rem;
}

.Action-section div p{
    font-size: larger;
    margin-bottom: 1.8rem;
}

.Action-section img{
    width: 25rem;
    border-radius: 2.5rem;
}

/* Action section end */
/* Productive Users Section start */
.Productive-Users{
    background: #0b03ff19;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
    width: 100%;
}

.Productive-Users h1{
    margin-top: 1rem;
}

.Productive-Users > div{
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.Productive-Users > div h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3.5rem;
    color: #4E47FF;
    margin-top: 1.5rem;
}

.Productive-Users p{
    margin: 0.5rem 0rem 1rem 0rem;
}
/* Productive Users Section end */
/* Users’s Feedback Section start */
.Users-Feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0rem;
}

.Users-Feedback > h1{
    font-size: xx-large;
    margin-bottom: 4rem;
}

.All-cord{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card{
    width: 22rem;
    border-radius: 1rem;
    background: #ffffff;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.card > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > div > h2{
    margin: 0.9rem 0rem 0rem 0rem;
}

.card > div > p{
    font-size: 0.9rem;
    margin: 0.7rem 0rem;
    line-height: 1.4rem;
}

.card-img img{
    border-radius: 50%;
}

.card-img{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

/* Users’s Feedback Section end */
/* Focus section start */
.Focus{
    width: 100%;
    background: white;
    padding: 7rem;
    border-radius: 1.5rem;
}

.Focus div{
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Focus h1{
    font-size: 3rem;
}

.Focus img{
    border-radius: 1.5rem;
}
/* Focus section end */
/* form section start */
.form-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0rem 0rem 0rem;
}

.form-section h1{
    font-size: 5.5rem;
}

.form-section form{
    display: flex;
    flex-direction: column;
}

.form-section label{
    font-size: large;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

.form-section input{
    width: 30rem;
    font-size: large;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.302);
    margin: 1.2rem 0rem;
    outline: none;
    transition-duration: 2s;
    font-family: "Raleway", sans-serif;
}

.form-section input:focus{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.131);
}

.form-section textarea{
    resize: none;
    margin-top: 1.2rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    transition-duration: 2s;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.302);
    font-family: "Raleway", sans-serif;
}

.form-section textarea:focus{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.131);
}

.form-section a button{
    margin-top: 1.2rem;
    width: 30rem;
}

/* form section end */

/* main section end */

/* footer section start */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem 0rem 9rem 0rem;
    background: white;
}

footer h1{
    font-size: 6rem;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

footer p{
    color: rgba(0, 0, 0, 0.59);
    margin: 1rem 0rem;
}

footer nav ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style-type: none;
}

footer nav ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.59);
    margin-top: 1rem;
}

footer nav ul li a:hover{
    color: rgb(255, 0, 0);
}

/* footer section end */